<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserMapper" >
    <resultMap id="TopicResultMap" type="com.entity.User">
        <id column="id"  property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="findAll" parameterType="String" resultMap="TopicResultMap">
        select * from users
    </select>
    <select id="findById" parameterType="String" resultMap="TopicResultMap">
        select * from users WHERE id=#{id}
    </select>
    <select id="findByUsername" parameterType="String" resultMap="TopicResultMap">
        select * from users WHERE username=#{username}
    </select>
        <select id="findByPassword" parameterType="String" resultMap="TopicResultMap">
            select * from users WHERE password=#{password}
        </select>
        <select id="findAllUser" resultType="com.entity.User">
                SELECT * FROM users;
        </select>

    <update id="register" parameterType="com.entity.User">
        INSERT INTO users(username,password)
         VALUES(#{username},#{password})
    </update>

            <select id="findByRole" resultType="com.entity.User">
                    SELECT * FROM users
                    WHERE username=#{username};
            </select>

                        <update id="editRole" parameterType="com.entity.User">
                            update users set role=#{role}
                             WHERE id = #{id}
                        </update>

</mapper>