<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    form{
        width: 300px;
        height: 200px;
        margin:0 auto;
        padding-top: 10%;
    }
    input{
        margin-bottom: 10px;
    }


</style>
<body>
<div class="with:80%">
    <form th:action="@{/addmyedit}" th:object="${message}"   method="post">
        <input type="text"  name="title"  id="title" placeholder="请输入标题"/></br>
        <input type="text"  name="artical"  id="artical"  placeholder="请输入正文"style="width: 200px;height: 100px;"/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Ok  " class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
</html>