<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addlogin" method="get">
    <label class="label-tips" for="username"></label>
    <input type="text" id="username" name="username" class="inputstyle"placeholder="Account"/>
    <label class="lable-tips" for="password"></label>
    <input type="password" id="password" name="password" class="inputstyle" placeholder="Password"/>
    <button class="but"type="submit" >Logins</button><BR>
</form>
</body>
</html>